@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #edf0f1;
  min-height: 100vh;
  overflow-x: hidden;
  
}
p{
  font-size: 16px;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}
.logo{
  width: 100px;
}
.group
{
  display: flex;
  align-items: center;
  margin: 30px;
}
header ul
{
  position: relative;
  display: flex;
  gap: 30px;
}
header ul li
{
  list-style: none;
}
header ul li a
{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
  letter-spacing:  0.1em;
}
header ul li a::before
{
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header ul li a:hover::before
{
  transform: scaleX(1);
  transform-origin: left;
}


.menuToggle
{
  position: relative;
  display: none;

}

@media(max-width: 800px)  
{ 
  .searchBtn
  {
    left: 0;
  }
  .menuToggle
  {
    position: absolute;
    display: block;
    font-size: 2em;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  header .navigation
  {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 100%;
  }
  header.open .navigation
  {
    top: 80px;
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 40px;
    border-top: 1px solid rgba(0,0,0,0.05); 
    
  }
  header.open .navigation li a
  {
    font-size: 1.25em;
  }
  .hide
  {
    display: none;
  }
}


/* ===================  БАННЕР =================*/
.cover{
  background: url(img/cover.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(250, 250, 250);
  padding: 150px 20% ;
}

.cover-up {
  background: rgba(0,0,0,0.5);
  padding: 40px;
  text-align: center;
  border-radius: 25px;
  
}
h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: -10px;
  align-items: center;
}
@media (max-width: 500px){
  h1{
      font-size: 20px;
      margin-bottom: 4px;
  }
}

/* ===========контент============= */

.history
{
  padding-left: 10px;
  margin-top: 50px;
}

.predistoriya
{
  margin-top: 25px;
}


.header-h1 {
  position: relative;
  margin-bottom: .5rem;
  text-align: center;
}
.header-h1 h1 {
  display: inline-block;
  background: #fff;
  margin-bottom: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0c0906;
  margin-top: -3px;
}
.header-h1::after {
  content: "";
  position: absolute;
  background: #91908f;
  height: .25rem;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: -999;
}


section.gallery{
  position: relative;
  padding: 45px 0;
}

.gallery-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 50px;

}
.gallery-item{
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}
.gallery-item-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity .5s ease;
  z-index: 2;
  
}
.gallery-item:hover .gallery-item-hover{
  opacity: 1;
}
.gallery-item:hover img{
  transform:  scale(1.3);
}
.gallery-item img{
  max-width: 100%;
  height: auto;
  transition: all .5s ease;
}

@media (max-width: 990px){
  .gallery-item{
      flex: 33.3%;
  }
}
@media (max-width: 768px){
  .gallery-item{
      flex: 50%;
  }
}
@media (max-width: 500px){
  .gallery-item{
      flex: 100%;
  }
}
































/* ================footer=================== */
footer
{
  bottom: 0;
  left: 0;
  right: 0;
  background: #f9f9f9;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #333;
  margin-top: 240px;
 
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
}
.socials
{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li
{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(29, 27, 27);
}
.socials a i{
  font-size: 1.7rem;
  transition: color .4s ease;
}
.socials a:hover .fa-twitter
{
    color: #1faee9;
}
.socials a:hover .fa-telegram
{
  color: #0088cc;
}
.socials a:hover 
{
  color: #f56040;
}
.socials a:hover .fa-youtube-play
{
  color: #c4302b;
}
.footer-bottom
{
  border-top: 1px solid rgba(0,0,0,0.5);;
  background: hsl(0, 0%, 99%);
  width:100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span
{
  text-decoration: uppercase;
  opacity: .7;
  font-weight: 200;
}

























